.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}
body,html,#root {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    height:100vh;
}

.title {
    font-weight: bolder;
    color: white;
    font-size: 3rem;
    margin: 11rem 0 0 30px;
}

.App {
    font-family: 'Barlow', sans-serif;
    display: flex;
}

.white-bar {
    align-items: center;
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width:10em;
}

.white-bar-wrapper {
    margin-top: 12rem;
}

.icon1 {
    align-items: center;
    display: flex;
    color: #CD3B20;
    flex-direction: column;
}

.icon2 {
    padding-top: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #CD3B20;
}

.sidebar-text {
    color: grey;
    margin: 15px;
}

.panel {
    background-color: #fff;
    margin: 40px;
    margin-right: 0;
    width: 100%;
    border-radius: 30px;
    padding: 35px;

}

.panel:last-child {
    margin-right: 40px;
    max-height:calc(100vh - 120px);
    overflow-y:scroll;
    overflow:hidden;
}

.panel-title {
    color: #CD3B20;
    margin:0px 0px 10px 0px;
}

.category-title {
    color: grey;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.expenses {
    background-color: #ffffff;
}

.input-wrap {
    display: flex;
    text-align:center;
    justify-content: space-between;
}

.category {
    text-align:center;
}

.MuiPaper-rounded {
    height: 7.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MuiPaper-rounded Button {
    height: 100%;
    width: 100%;
}

.MuiButton-label {
    text-transform: capitalize;
    font-family: 'Barlow';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MuiSvgIcon-root {
    margin-bottom: 5px;
    transform: scale(1.6);
}

.MuiGrid-spacing-xs-3 {
    margin:0px;
}

.save-button {
    width:100%;
    background-color: #CD3B20;
    height: 3em;
    border: none;
    margin-top: 1.5rem;
    color: #ffffff;
    font-family:'Barlow';
    font-size: 16px;
    border-radius: 6px;
    font-weight:900px;
}

.save-button:hover {
    background-color: rgb(211, 72, 47);
    cursor: pointer;
}

.save-button:disabled {
    background-color: rgb(179, 51, 28);
}

.entry-text {
    font-size: 24px;
    margin:0px 0px 1.5em 0px;
}

.entry-amount {
    font-size: 24px;
    margin:0px 0px 1.5em 0px;
    color:#CD3B20;
}

.entry-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 1.5em;
    border-bottom: solid 1px #9B9B9B;
}

.entry-line .entry-text {
    display: flex;
    justify-self: start;
}

.entry-line .entry-text2 {
    display: flex;
    justify-self: center;
    font-size: 24px;
    margin:0px 0px 1.5em 0px;
}

.entry-line .entry-amount {
    display: flex;
    justify-self: end;
}

.total {
    display:grid;
    font-size: 35px;
    position: relative;
    bottom:0.8em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap:3.5em;
}

.total .total-t {
    grid-column-start: 2;
}

.total-n {
    color:#CD3B20;
}
.line {
    height: 1px;
    color:#9B9B9B;
    width:100%;
}


