.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.title {
    font-weight: bolder;
    color: white;
    font-size: 3rem;
    margin: 11rem 0 0 30px;
}

.App {
    font-family: 'Barlow', sans-serif;
    display: flex;
}

.white-bar {
    align-items: center;
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width:10em;
}

.white-bar-wrapper {
    margin-top: 12rem;
}

.icon1 {
    align-items: center;
    display: flex;
    color: #CD3B20;
    flex-direction: column;
}

.icon2 {
    padding-top: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #CD3B20;
}

.sidebar-text {
    color: grey;
    margin: 15px;
}

.panel {
    background-color: #fff;
    margin: 30px;
    margin-right: 0;
    flex-basis: 1;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
}

.panel:last-child {
    margin-right: 40px;
}

.panel-title {
    color: #CD3B20;
}

.category-title {
    color: grey;
    font-size: 15px;
}

.expenses {
    background-color: #ffffff;
}

.input-wrap {
    display: flex;
    text-align:center;
    justify-content: space-between;
}

.category {
    text-align:center;
}

.MuiPaper-rounded {
    height: 7.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MuiPaper-rounded Button {
    height: 100%;
    width: 100%;
}

.MuiButton-label {
    text-transform: capitalize;
    font-family: 'Barlow';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MuiSvgIcon-root {
    margin-bottom: 5px;
    transform: scale(1.6);
}

.MuiGrid-spacing-xs-3 {
    margin:0px;
}

.save-button {
    width:100%;
    background-color: #CD3B20;
    height: 3em;
    border: none;
    margin-top: 1.5rem;
    color: #ffffff;
    font-family:'Barlow';
    font-size: 16px;
    border-radius: 6px;
    font-weight:900px;
}

.save-button:hover {
    background-color: rgb(211, 72, 47);
    cursor: pointer;
}

.save-button:disabled {
    background-color: rgb(179, 51, 28);
}